.profile-avatar {
  background-color: rgb(224 224 224 / 30%) !important;
  border-radius: 88px;
}

.edit-profile-icon {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 1px;
  margin-left: -24px;
}

.flex-profile {
  flex-direction: column;
}

.corporate-admin {
  color: var(--disabled-highlighted-color);
  opacity: 1;
}
